/* Put your style information here! */
main {
    margin: 0 auto;
    padding: 30px 140px 0 140px;
    
}
body {
    background-color: #DDE5D6;
}
h1, h2, h3, p, ol, li {
    font-family: 'Montserrat', sans-serif;
    color: #505C5A
}


.title-accent {
    font-weight: 00;
}

.interface-sketch {
    border-radius: 20px;
    width: 400px;
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
}

.empathy-card {
    border-radius: 20px;
    width: 550px;
    margin-bottom: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
}

.storyboard {
    border-radius: 20px;
    width: 70%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
    margin-bottom: 30px;

}

#motivated-monica {
    float: left;
}

#confused-cameron {
    float: right;
}

.part-3 {
    margin-bottom: 50px;
}