/* Put your style information here! */
main {
    margin: 0 auto;
    padding: 30px 140px 0 140px;
    
}
body {
    background-color: #DDE5D6;
    line-height: 1.5em;
}
h1, h2, h3, p, ol, li {
    font-family: 'Montserrat', sans-serif;
    color: #505C5A
}


.title-accent {
    font-weight: 00;
}

.interface-sketch {
    border-radius: 20px;
    width: 400px;
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
}

.empathy-maps {
    display: flex;
    justify-content: center;
    padding: 20px 140px 0 140px;
    max-width: 80%;
}
.empathy-card {
    display: flex;
    border-radius: 20px;
    max-width: 70%;
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
    margin: 15px;
    
}
.storyboard-container {
    display: flex;
    justify-content: center;
}
.storyboard { 
    border-radius: 20px;
    width: 70%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
    margin-bottom: 30px;
    
}

#motivated-monica {
    float: left;
}

#confused-cameron {
    float: right;
}

.part-3 {
    margin-bottom: 50px;
}

.observation-cards, .interview-cards {
    display: flex;
    justify-content: center;
    
}

.card {
    background-color: #FAF7F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
    color:#767D70;
    font-size: 15px;
    line-height: 1.3em;
    margin: 10px;
    width: 250px;
}

.card-text {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 5px;
}